:root {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/* PRELOADER */
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: #ffffff;
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
}
#preloader:before,
#preloader:after {
  content: "";
  position: absolute;
  border: 4px solid #ee2110;
  border-radius: 50%;
  -webkit-animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
#preloader:after {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }
  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

@keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }
  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

/* SIGN IN  */
#login {
  width: 100%;
  height: 100vh;
}
#login .container {
  padding-top: 10px;
  position: relative;
}
.login .card {
  padding: 20px 50px 50px 50px;
  border-radius: 50px;
}
.login img {
  width: 65%;
  top: -40px;
}
.login h1 {
  font-family: "Cooper Black", sans-serif;
}
.login p {
  font-size: 12px;
  margin-top: 30px;
}

/* CHANGE PASSWORD */
.change-password {
  width: 100%;
  height: 100vh;
}
.change-password a {
  text-decoration: none;
  color: var(--color-default);
}
.change-password .bi-house {
  font-size: 20px;
  cursor: pointer;
}
.change-password a:hover {
  color: #ee2110;
}

/* NAVBAR  */
.navbar .nama {
  width: 200px;
}
.navbar li {
  cursor: pointer;
}
.navbar .navbar-brand span {
  font-size: 2rem;
  font-family: "Cooper Black", sans-serif;
  -webkit-text-stroke: 0.3px #fff;
}
.navbar .navbar-nav .active {
  border-bottom: #ee2110 solid 1px;
  font-weight: 400;
}
.navbar .navbar-nav .nav-link:hover {
  border-bottom: #ee2110 solid 1px;
}
.nav-scroller .nav {
  color: rgba(255, 255, 255, 0.75);
}
.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}
.nav-scroller .nav-link:hover {
  color: #ee2110;
}
.nav-scroller .active {
  font-weight: 500;
  color: #343a40;
}
.nav-scroller {
  position: fixed;
  z-index: 1;
  height: 2.75rem;
  /* overflow-y: hidden; */
  margin-top: 74px;
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.nav-scroller .nav-link {
  cursor: pointer;
}
#modalSignOut i {
  font-size: 70px;
}

/* HOME */
.home {
  padding-top: 90px;
  width: 100%;
}
.home .card-grid {
  height: 560px;
  margin-bottom: 50px;
}
.home .unit {
  width: 85%;
}
.home .chart {
  height: 400px;
}
.home button[type="submit"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.home .btn-nav {
  cursor: pointer;
  font-size: 20px;
}
.home i:hover {
  color: #ee2110;
}
.home #modalDeleteCost i {
  font-size: 70px;
}

/* FEEDER */
.feeder .beban-feeder {
  font-size: 12px;
}
.feeder tbody tr:hover {
  background-color: var(--bs-gray-600);
  color: #fff;
}
/* Data Feeder  */
.data-feeder {
  padding-top: 130px;
  width: 100%;
}
.data-feeder #modalNoDataFeeder i {
  font-size: 70px;
}
/* Forecast Feeder  */
.forecast-feeder {
  padding-top: 90px;
  width: 100%;
}

/* PEMELIHARAAN */
/* Rencana Pemeliharaan */
.rencana-pemeliharaan {
  padding-top: 130px;
  width: 100%;
}
.rencana-pemeliharaan #modalNotFriday i {
  font-size: 70px;
}
