<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand me-4" href="#"><span style="color: #4a0e03">Red</span><span style="color: #ee2110">Panda</span></a>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {{active_home}}" aria-current="page" href="/"><i class="bi-house-fill"></i> Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link {{active_feeder}} dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi-device-ssd-fill"></i> Feeder</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="{% url 'data_feeder' %}">Data Feeder</a></li>
            <li><a class="dropdown-item" href="{% url 'forecast_feeder' %}">Forecast Beban Feeder</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link {{active_har}}" href="{% url 'rencana_har' %}"><i class="bi-tools"></i> Pemeliharaan</a>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-end align-items-center input-group w-25">
      <span class="input-group-text" id="basic-addon1"><i class="bi-person-circle"></i></span>
      <input type="text" class="form-control" value="{{user.first_name}} {{user.last_name}}" disabled />
      <span class="input-group-text btn btn-success" id="basic-addon1" data-bs-toggle="modal" data-bs-target="#modalSignOut"><i class="bi-box-arrow-right"></i> Sign Out</span>
    </div>
  </div>
</nav>
<!-- Awal Modal Confirm  -->
<div class="modal fade" id="modalSignOut" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center position-relative">
        <button type="button" class="btn-close position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="modal" aria-label="Close"></button>
        <i class="bi-info-circle-fill text-danger"></i>
        <h6>Apakah Anda yakin ingin <span class="fw-bold text-danger">Sign Out</span></h6>
        <div class="text-center">
          <div class="btn btn-outline-secondary me-1" data-bs-dismiss="modal">Back</div>
          <a href="{% url 'sign_out' %}" class="btn btn-outline-primary">Yes</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Akhir Modal Confirm  -->
