{% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'includes/styles.html' %}
    <title>Change Password</title>
    <!-- Favicons -->
    <link href="{% static 'img/logo3.png' %}" rel="icon" />
  </head>
  <body>
    {% block content %}
    <main class="change-password d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-6 offset-3 border p-5 rounded-4 shadow position-relative">
            <a href="/" class="position-absolute top-0 start-0 p-3"><i class="bi-house rounded-circle"></i> Home</a>
            <h3 class="text-center mb-3">Change Your Password!</h3>
            <form method="post" action="">
              {% csrf_token %} {{form|crispy}}
              <div class="">
                <div class="mt-4 d-flex justify-content-center">
                  <button type="submit" class="btn btn-outline-primary">Change Password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    {% endblock content %}{% include 'includes/preloader.html' %}{% include 'includes/scripts.html' %}
  </body>
</html>
