{% extends 'layouts/base.html' %} {% load static %} {% block title %}
<title>{{title}}</title>
{% endblock title %} {% block content %}
<div class="nav-scroller bg-body shadow-sm fixed-top">
  <nav class="nav" aria-label="Secondary navigation">
    <div class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUploadDataFeeder"><i class="bi-upload"></i> Upload</div>
    {% if chart %}
    <div class="nav-link" data-bs-toggle="modal" data-bs-target="#modalChartFeeder"><i class="bi-bar-chart-line"></i> Chart</div>
    {% else %}
    <div class="nav-link" data-bs-toggle="modal" data-bs-target="#modalNoDataFeeder"><i class="bi-bar-chart-line"></i> Chart</div>
    {% endif %}
    <!-- <a class="nav-link" href="#">
      Friends
      <span class="badge bg-light text-dark rounded-pill align-text-bottom">27</span>
    </a>
    <a class="nav-link" href="#">Explore</a>
    <a class="nav-link" href="#">Suggestions</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a> -->
    <div class="d-flex align-items-center ms-auto me-3">
      <form action=""><input type="date" class="form-control" name="tanggal" onchange="this.form.submit()" /></form>
    </div>
  </nav>
</div>
<main class="container-fluid data-feeder">
  <div class="row feeder">
    <div class="col-12">
      {% if request.GET %}
      <table class="table table-bordered text-center beban-feeder">
        <thead>
          <tr>
            <th scope="col" colspan="22">Data Beban Feeder Tanggal<span class="text-bg-secondary p-1 rounded-2 ms-2">{{tanggal|date:'d-m-Y'}}</span></th>
          </tr>
          <tr>
            <th scope="col" rowspan="2" class="align-middle">Jam</th>
            <th scope="col" colspan="7">PLTD Tahuna</th>
            <th scope="col" colspan="5">PLTD Petta</th>
            <th scope="col" colspan="4">PLTD Tamako</th>
            <th scope="col" colspan="4">PLTD Lesabe</th>
            <th scope="col" rowspan="2" class="bg-dark text-light align-middle">Total</th>
          </tr>
          <tr>
            <th scope="col" class="align-middle">Kota</th>
            <th scope="col" class="align-middle">Tona</th>
            <th scope="col" class="align-middle">Kolongan</th>
            <th scope="col" class="align-middle">Lesabe</th>
            <th scope="col" class="align-middle">Tamako</th>
            <th scope="col">Mineline Petta</th>
            <th scope="col">Sub Total</th>
            <th scope="col">Petta Kota</th>
            <th scope="col">Mineline Tahuna</th>
            <th scope="col" class="align-middle">Kendahe</th>
            <th scope="col" class="align-middle">Bowongkulu</th>
            <th scope="col">Sub Total</th>
            <th scope="col">Kota Tamako</th>
            <th scope="col" class="align-middle">Lapango</th>
            <th scope="col" class="align-middle">Tahuna</th>
            <th scope="col">Sub Total</th>
            <th scope="col" class="align-middle">Salurang</th>
            <th scope="col" class="align-middle">Pintareng</th>
            <th scope="col">Tahuna (Income)</th>
            <th scope="col">Sub Total</th>
          </tr>
        </thead>
        {% if rows %}
        <tbody>
          {% for row in rows %}
          <tr>
            {% for row_ in row %}
            <td>{{row_}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
        {% else %}
        <tbody>
          <tr>
            <td colspan="22" class="align-middle">Tidak ada data</td>
          </tr>
        </tbody>
        {% endif %}
      </table>
      {% else %}
      <div class="d-flex justify-content-center">
        <img src="{% static 'img/date.png' %}" class="img-fluid w-50" alt="" />
      </div>
      {% endif %}
    </div>
  </div>
  <!-- Awal Modal Input  -->
  <div class="modal fade" id="modalChartFeeder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-dark text-white d-flex align-items-center">
          <h5 class="modal-title me-3" id="exampleModalLabel">Grafik Beban Feeder Tanggal {{tanggal|date:'d-m-Y'}}</h5>
          <button type="button" class="btn-close text-bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center">
          <img src="data:image/png;base64, {{chart|safe}}" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- Akhir Modal Input  -->
  <!-- Awal Modal Warning  -->
  <div class="modal fade" id="modalNoDataFeeder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-center position-relative">
          <button type="button" class="btn-close position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="modal" aria-label="Close"></button>
          <i class="bi-exclamation-triangle-fill text-warning"></i>
          <h4>Pilih tanggal terlebih dahulu</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- Akhir Modal Warning  -->
</main>
<!-- Awal Offcanvas Upload  -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasUploadDataFeeder" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Upload File Beban Feeder</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form method="post" enctype="multipart/form-data" class="d-flex justify-content-end py-3">
      {% csrf_token %}
      <label for=""></label>
      <input type="file" class="form-control" name="feeder" />
      <input type="submit" class="btn btn-primary ms-2" name="input_data" value="Upload" />
    </form>
    <div>
      <button class="btn btn-secondary">Download File</button>
      <p class="fw-bolder mb-0 mt-2">Catatan:</p>
      <ul>
        <li>Ekstensi file harus Excel (.xlsx)</li>
        <li>Dll</li>
      </ul>
    </div>
  </div>
</div>
<!-- Akhir Offcanvas Upload  -->

{% endblock content %}
